<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322531788955-kobkueai77f23b4q3jn64e5gn0e940f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322531788955-kobkueai77f23b4q3jn64e5gn0e940f0</string>
	<key>API_KEY</key>
	<string>AIzaSyA3vB54BYfVtTa_kNiGipDCSFxxZCnWP3o</string>
	<key>GCM_SENDER_ID</key>
	<string>322531788955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seatLayout</string>
	<key>PROJECT_ID</key>
	<string>smart-parking-app-tih</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-parking-app-tih.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322531788955:ios:5f7e623b0bc6c88a0ede3e</string>
</dict>
</plist>